	


body
{
	background-color: white;
	font-size:20px;
	color:red;
	font-family:times new roman;
}
input
{
	color:brown;
	background-color:white;
}

p
{
	color:black;
}



#ff
{
	
	width: 100%;
	height: 100%;
	
}

#form1
{
	border: 1px solid black;
	padding: 50px;
	width: 20%;
	float:left;
}

#pic
{
	width: 60%;
	float:left;
	margin-left: 85px;
}

.banner
{
	width: 100%;
}

#form2
{
	padding: 110px;
	width: 55%;
	float:left;
}

#Para
{
	text-align: center;
}


