<DOCTYPE! html>
<head>
<meta name = "description" content = "Project"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv = "author" content = "Carlo B. Datingaling, Jhondriel F. Josue - BSCS 3A"/>
<link rel="stylesheet" type="text/css" href="css/style.css">
<title>
Pizza
</title>
</head>
<body>
<h2 style="color:blue;" align = "center">Pizza Ordering System</h2>
<div id = "ff">
	<div id = "form1">
	<form>
	 <fieldset id = "f1" width="50">
	  <legend style="color:blue"><h2> Pizza Size</h2> </legend>
	  <p><label> <input type="radio" name="size"   style="color:blue" value="small"> Small-9.25 </label></p>
	  <p><label> <input type="radio" name="size"  value="medium"> Medium-10.75 </label></p>
	  <p><label> <input type="radio" name="size"  value="large"> Large-12.00 </label></p>
	 </fieldset>
	 <fieldset id = "f2" width="50">
	  <legend style="color:blue"> <h2>Pizza Crust</h2> </legend>
	  <p><label> <input type="radio" name="crust" value="Thin"> Thin-7.25 </label></p>
	  <p><label> <input type="radio" name="crust" value="Thick"> Thick-4.75 </label></p>
	 </fieldset>
	 <fieldset id = "f3" width="50">
	  <legend style="color:blue"> <h2>Pizza Toppings</h2> </legend>
	  <p><label> <input type="checkbox" name="toppingss" value="Bacon"> Bacon-1.5 </label></p>
	  <p><label> <input type="checkbox" name="toppingss"  value="Extra Cheese"> Extra Cheese-1.5 </label></p>
	  <p><label> <input type="checkbox" name="toppingss"  value="Ham"> Ham And Cheese-1.5 </label></p>
	  <p><label> <input type="checkbox" name="toppingss"  value="Mushroom"> Mushroom-1.5 </label></p>
	 </fieldset>
	 <fieldset id = "f4" width="50">
	  <legend style="color:blue"> <h2>Add-Ons</h2> </legend>
	  <p><label> <input type="checkbox" name="addons" value="Bacon"> Bacon-2.5 </label></p>
	  <p><label> <input type="checkbox" name="addons" value="Extra Cheese"> Extra Cheese-2.5 </label></p>
	  <p><label> <input type="checkbox" name="addons" value="Ham"> Ham-2.5 </label></p>
	  <p><label> <input type="checkbox" name="addons" value="Mushroom"> Mushroom-2.5 </label></p>
	  <p><label> <input type="checkbox" name="addons" value="Mushroom"> Pineapple-2.5 </label></p>
	 </fieldset>
	 <br />
	 <input type="button" onClick="calculatePrice()" value="Calculate Price!" /> 
	 <input  type="Reset" id="cl" value="Clear"></p>
	
	</form>
	</div>
	<div id = "pic">
		<img class = "banner" src = "images/banner.jpg"/>
	</div>
	
	<div id = "form2">
		<form>
			<fieldset id = "Para">
				<legend style="color:blue"> <h2>Official Receipt</h2> </legend>
				<span class="running-total"></span>
			</fieldset>
		</form>
	</div>
</div>

	<script src="js/script.js"></script>
</body>
</html>

